.FooterForm {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  .form {
    margin-bottom: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-title {
      margin-top: 0;
      margin-bottom: 12px;
      font-size: 48px;
      font-weight: bold;
    }

    &-text {
      text-align: center;
      margin-top: 0;
      font-size: 24px;
      max-width: 65%;
    }
  }

  .email-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;

    input {
      width: 400px;
      padding: 16px 32px;
      margin-right: 16px;
      border-radius: 100px;
      border: none;
      font-size: 20px;
    }

    button {
      padding: 16px 48px;
      background-color: var(--green-500);
      font-size: 20px;
      border: none;
      border-radius: 100px;
      color: white;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: var(--green-600);
      }
    }
  }
}
