@mixin for-phone-only {
  @media (max-width: 440px) {
    @content;
  }
}

.FooterForm {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  @include for-phone-only {
    margin-bottom: 48px;
  }

  .form {
    margin-bottom: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include for-phone-only {
      margin-bottom: 32px;
    }

    &-title {
      margin-top: 0;
      margin-bottom: 12px;
      font-size: 48px;
      font-weight: bold;

      @include for-phone-only {
        font-size: 32px;
      }
    }

    &-text {
      text-align: center;
      margin-top: 0;
      font-size: 24px;
      max-width: 65%;

      @include for-phone-only {
        font-size: 16px;
        max-width: 100%;
      }
    }
  }

  .email-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;

    @include for-phone-only {
      width: 100%;
      flex-direction: column;
    }

    input {
      width: 400px;
      padding: 16px 32px;
      margin-right: 16px;
      border-radius: 100px;
      border: none;
      font-size: 20px;

      @include for-phone-only {
        width: 100%;
        box-sizing: border-box;
        margin-right: 0;
        padding: 12px 24px;
      }
    }

    button {
      padding: 16px 48px;
      background-color: var(--green-500);
      font-size: 20px;
      border: none;
      border-radius: 100px;
      color: white;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: var(--green-600);
      }

      @include for-phone-only {
        width: 100%;
        margin-top: 16px;
      }
    }
  }
}
