@mixin for-phone-only {
  @media (max-width: 440px) {
    @content;
  }
}

.MainPage {
  position: relative;
  width: 100%;

  .ellipse {
    position: absolute;
    width: 422px;
    height: 574px;
    border-radius: 50%;
    border: 1px solid var(--grey-600);
    top: -450px;
    left: -135px;
    z-index: -1;

    @include for-phone-only {
      top: -530px;
      left: -150px;
    }
  }

  .circle {
    position: absolute;
    width: 576px;
    height: 576px;
    border-radius: 50%;
    border: 1px solid var(--grey-600);
    top: -470px;
    left: -170px;
    z-index: -1;

    @include for-phone-only {
      top: -550px;
      left: -200px;
    }
  }
}
