.BenefitItem {
  display: flex;
  gap: 16px;

  .icon-holder {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var(--grey-100);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      padding: 16px;
    }
  }

  .dotted-line {
    margin-left: 27px;
  }

  .text-content {
    color: black;

    .benefit-name {
      font-size: 24px;
      font-weight: bold;
      margin: 14px 0;
    }

    .benefit-text {
      font-size: 20px;
      margin: 0;
    }
  }
}
