@mixin for-phone-only {
  @media (max-width: 440px) {
    @content;
  }
}

.BenefitsSection {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 68px 122px;

  @include for-phone-only {
    padding: 64px 0;
  }
}
