@mixin footer-links {
  &-title {
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 12px;

    @include for-phone-only {
      margin-bottom: 8px;
    }
  }

  &-item {
    margin-bottom: 12px;
    font-size: 14px;

    a {
      color: var(--grey-900);
    }

    @include for-phone-only {
      margin-bottom: 8px;
    }
  }
}

@mixin for-phone-only {
  @media (max-width: 440px) {
    @content;
  }
}

.FooterInfo {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 40px;
  border-radius: 16px;
  background-color: white;

  @include for-phone-only {
    flex-direction: column;
    gap: 16px;
  }

  & > div {
    width: 40%;

    @include for-phone-only {
      width: 80%;
    }
  }

  .backpack-info {
    &-title {
      font-size: 16px;
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 12px;

      @include for-phone-only {
        margin-bottom: 8px;
      }
    }

    &-text {
      font-size: 14px;
      color: var(--grey-900);
    }
  }

  .navigation-info {
    @include footer-links;
  }

  .service-info {
    @include footer-links;
  }

  .social-info {
    @include footer-links;
  }

  ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: black;
  }
}
